.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  >.input {
    height: 24px;
    width: 112px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: var(--quad-primary-background-color);
  }

  .icon {
    font-size: 16px;
    color: #8a8a8a;
  }
}