.container {
  padding: 0px 12px;
  font-size: 12px;
  height: calc(100vh - 96px);
  overflow: auto;
  :global {
    .ant-select {
      font-size: 12px;
      border-radius: 4px;
    }
    .ant-divider-horizontal {
      margin: 18px 0px;
    }
    // .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    //   box-shadow: none !important;
    //   border: none;
    //   background-color: var(--quad-primary-background-color);
    //   &:hover {
    //     background-color: var(--quad-form-active-background-color);
    //   }
    // }
    .ant-select-item-option-content {
      font-size: 12px;
    }
    .ant-input-number-affix-wrapper {
      background-color: var(--quad-primary-background-color);
      border: none;
      border-radius: 4px;
    }
    .ant-input-number-input {
      background-color: var(--quad-primary-background-color);
    }
  }
}
