.drag_block {
  // position: relative;
  // position: fixed;
  // margin: 200px;
  position: absolute;
  width: 200px;
  height: 200px;
  background: var(--quad-primary-background-color);
  z-index: 99;
  &:not(.draggable) {
    > .circle,
    > .line__top,
    > .line__bottom,
    > .line__left,
    > .line__right,
    > .rotate,
    > .delete {
      display: none;
    }
  }
  > .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: 2px solid var(--quad-primary-color);
    z-index: 999;
    &:nth-child(1) {
      top: -5px;
      left: -5px;
      cursor: nw-resize;
    }
    &:nth-child(2) {
      top: -5px;
      right: -5px;
      cursor: ne-resize;
    }
    &:nth-child(3) {
      bottom: -5px;
      right: -5px;
      cursor: nw-resize;
    }
    &:nth-child(4) {
      bottom: -5px;
      left: -5px;
      cursor: ne-resize;
    }
  }
  > .line__top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    border-top: 2px solid var(--quad-primary-color);
    cursor: ns-resize;
  }
  > .line__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-bottom: 2px solid var(--quad-primary-color);
    cursor: ns-resize;
  }
  > .line__left {
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    border-left: 2px solid var(--quad-primary-color);
    cursor: ew-resize;
  }
  > .line__right {
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
    border-right: 2px solid var(--quad-primary-color);
    cursor: ew-resize;
  }
  > .rotate {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 7px);
    cursor: pointer;
  }
  > .delete {
    position: absolute;
    top: -20px;
    left: calc(50% - 7px);
    color: var(--quad-danger-color);
  }
}
