.drag_block {
  position: absolute;
  width: 200px;
  height: 200px;

  &.editable:hover {
    &::before {
      content: attr(data-width);
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      color: var(--quad-primary-color);
    }

    &::after {
      content: attr(data-height);
      position: absolute;
      top: calc(50% - 12px);
      left: -24px;
      color: var(--quad-primary-color);
    }
  }

  &.editable {
    outline: 1px dashed var(--quad-primary-color);
    cursor: move;
  }

  &:not(.editable:hover) {

    >.circle,
    >.line__top,
    >.line__bottom,
    >.line__left,
    >.line__right,
    >.rotate,
    >.delete,
    >.clip {
      display: none;
    }
  }

  &:not(.resize) {

    >.circle,
    >.line__top,
    >.line__bottom,
    >.line__left,
    >.line__right {
      display: none;
    }
  }

  >.circle {
    position: absolute;
    width: 16px;
    height: 16px;

    &::after {
      position: absolute;
      top: 5px;
      left: 5px;
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      // border-radius: 50%;
      background-color: #fff;
      outline: 1px solid var(--quad-primary-border-color);
    }

    &.top_left {
      top: -8px;
      left: -8px;
      cursor: nw-resize;
    }

    &.top_right {
      top: -8px;
      right: -8px;
      cursor: ne-resize;
    }

    &.bottom_right {
      bottom: -8px;
      right: -8px;
      cursor: nw-resize;
    }

    &.bottom_left {
      bottom: -8px;
      left: -8px;
      cursor: ne-resize;
    }
  }

  >.line__top {
    position: absolute;
    top: -8px;
    width: 100%;
    height: 16px;
    cursor: ns-resize;
  }

  >.line__bottom {
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 16px;
    cursor: ns-resize;
  }

  >.line__left {
    position: absolute;
    top: 0;
    left: -8px;
    width: 16px;
    height: 100%;
    cursor: ew-resize;
  }

  >.line__right {
    position: absolute;
    top: 0;
    right: -8px;
    width: 16px;
    height: 100%;
    cursor: ew-resize;
  }

  >.rotate {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 8px);
    font-size: 12px;
    color: var(--quad-primary-color);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: -24px;
      display: inline-block;
      width: 72px;
      height: 24px;
    }
  }

  >.delete {
    position: absolute;
    top: -14px;
    left: 4px;
    font-size: 12px;
    cursor: pointer;
    color: var(--quad-danger-color);
  }

  &:not(.editable),
  &:not(:hover) {
    >.mask {
      display: none;
    }
  }

  >.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: inherit;
    transform-origin: center;
    overflow: hidden;
  }
}

.angle_icon {
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.rotate_input {
  position: relative;
  width: 78px;

  &::after {
    content: "°";
    position: absolute;
    top: 0px;
    right: 4px;
  }
}