.categories {
  >.category {
    >.summary {
      display: flex;
      justify-content: space-between;
      padding: 8px;

      &:hover {
        color: rgb(8, 61, 220);
        background-color: rgb(120, 150, 203);
      }
    }

    >.details {
      display: flex !important;
      flex-wrap: wrap;

      >.widget {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100px;

        &:hover {
          background-color: aquamarine;
          cursor: move;
        }
      }
    }
  }
}