.fill {
  >.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    >h4 {
      font-weight: bold;
    }
  }

  >.content {
    margin-left: -12px;

    >.item_wrapper {
      position: relative;
      padding-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      >.input_group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.holer_btn {
          cursor: move;
        }

        >.color_mode {
          margin-left: 4px;
          height: 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #f5f7fa;
          border-radius: 4px 0 0 4px;

          &:hover {
            outline: 1px solid var(--quad-primary-border-color);
          }

          >.effect {
            margin-left: 8px;
            width: 16px;
            height: 16px;
            display: inline-block;
          }

          >.input {
            margin: 8px;
            width: 160px;
          }
        }
      }

      // >.holder_btn {
      //   position: absolute;
      //   left: 0;
      //   cursor: move;
      //   z-index: 99;
      // }
    }
  }
}