.scale {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 9999;
  .splitline {
    position: relative;
    color: #222;
    background-color: #222;
    span {
      position: absolute;
    }
  }
}
