.quad-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: #7b7676;
  background-color: #e0e0e0;
  border-radius: 50%;
  z-index: 9;
}

.quad-card {
  margin: 12px 0 0 12px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #ccc;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #f5f7fa;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #aaa;
}
