.quad-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: #7b7676;
  background-color: #e0e0e0;
  border-radius: 50%;
  z-index: 999;
}

.quad-scrollbar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #f5f7fa;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #c1c1c188;
  }
}
