.light-theme {
  --quad-primary-color: #1890ff;
  --quad-danger-color: #e33e38;
  --quad-default-color: #333;
  --quad-white-color: #fff;
  --quad-form-default-background-color: #f7f7f9;
  --quad-form-active-background-color: #f3f3f4;
  --quad-primary-background-color: #f5f7fa;
  --quad-scrollbar-thumb-background-color: #9d9d9d;
  --quad-primary-box-shadow-color: #ccc;
  --quad-primary-border-color: #409eff;
  --quad-primary-mask-color: #4aabeb33;
  --quad-default-icon-color: #8a8a8a;
}