.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.clip {
  position: absolute;
  top: calc(50% - 6px);
  right: -16px;
  width: 12px;
  height: 12px;
  font-size: 12px;
  cursor: pointer;
  color: var(--quad-primary-color);
  z-index: 9999;
}