.constraints {
  .title {
    font-weight: 700px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;

    .diagrams {
      height: 80px;
      width: 80px;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;

      .rect {
        height: 50px;
        width: 50px;
        border: 1px solid #ccc;
        position: relative;

        .top {
          width: 3px;
          height: 12px;
          background-color: black;
          position: absolute;
          left: 50%;
          top: -12px;
          transform: translateX(-50%);
          cursor: pointer;
        }
        .top:hover {
          background-color: var(--quad-primary-border-color);
        }

        .bottom {
          width: 3px;
          height: 12px;
          background-color: black;
          position: absolute;
          left: 50%;
          bottom: -12px;
          transform: translateX(-50%);
          cursor: pointer;
        }
        .bottom:hover {
          background-color: var(--quad-primary-border-color);
        }

        .left {
          width: 12px;
          height: 3px;
          background-color: black;
          position: absolute;
          top: 50%;
          left: -12px;
          transform: translateY(-50%);
          cursor: pointer;
        }
        .left:hover {
          background-color: var(--quad-primary-border-color);
        }

        .right {
          width: 12px;
          height: 3px;
          background-color: black;
          position: absolute;
          top: 50%;
          right: -12px;
          transform: translateY(-50%);
          cursor: pointer;
        }
        .right:hover {
          background-color: var(--quad-primary-border-color);
        }

        .hor {
          width: 18px;
          height: 3px;
          background-color: black;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
        .hor:hover {
          background-color: var(--quad-primary-border-color);
        }

        .ver {
          height: 18px;
          width: 3px;
          background-color: black;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
        .ver:hover {
          background-color: var(--quad-primary-border-color);
        }
      }
    }

    .selectWrap {
      display: flex;
      align-items: center;
      margin-top: 6px;
      background-color: var(--quad-primary-background-color);
      border-radius: 4px;
      width: 120px;
      height: 28px;

      :global {
        .ant-select {
          width: 100px;
        }
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          box-shadow: none !important;
          border: none;
          background-color: var(--quad-primary-background-color);
          &:hover {
            background-color: var(--quad-form-active-background-color);
          }
        }
      }
      &:hover {
        background-color: var(--quad-form-active-background-color);
        outline: 1px solid var(--quad-primary-border-color);
      }
    }
  }
}

.layer {
  .title {
    font-weight: 700px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    .eyes {
      cursor: pointer;
    }

    .item {
      margin-right: 12px;
    }

    :global {
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        box-shadow: none !important;
        border: none;
        background-color: var(--quad-primary-background-color);
        &:hover {
          background-color: var(--quad-form-active-background-color);
        }
      }
    }
  }
}

.fill {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .icon {
      cursor: pointer;
    }
  }

  .color_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    .icon_group {
      width: 50px;
      display: flex;
      justify-content: space-between;

      .icon {
        cursor: pointer;
      }
    }
  }

  .image_content {
    margin-top: 12px;
  }
}

.stroke {
  .content {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  .radio {
    margin-top: 12px;
  }
}
