.block {
  position: absolute;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  outline: 1px dashed #1890ff;

  > .scissor_btn {
    position: absolute;
    top: 4px;
    right: 32px;
    &:hover {
      color: #1890ff;
    }
  }

  > .delete_btn {
    position: absolute;
    top: 4px;
    right: 4px;
    &:hover {
      color: #e33e38;
    }
  }

  > .boundary {
    position: absolute;
    z-index: 999;
    &.top {
      bottom: -4px;
      width: 100%;
      &:hover {
        cursor: ns-resize;
      }

      > :first-child {
        height: 4px;
      }

      > :last-child {
        height: 4px;
        border-top: 1px dashed #1890ff;
        &:hover {
          border-top: 1px solid #1890ff;
        }
      }
    }
    &.left {
      right: -4px;
      height: 100%;
      // overflow: visible;
      &:hover {
        cursor: ew-resize;
      }

      > :first-child {
        width: 4px;
      }

      > :last-child {
        width: 4px;
        border-left: 1px dashed #1890ff;
        &:hover {
          border-left: 1px solid #1890ff;
          cursor: ew-resize;
        }
      }
    }

    &.bottom,
    &.right {
      display: none;
    }
  }

  .clip_scissor {
    position: absolute;
    margin-top: -16px;
    margin-left: -16px;
  }

  > .clip_horizontal {
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed #1890ff;
  }

  > .clip_vertical {
    position: absolute;
    height: 100%;
    border-right: 1px dashed #1890ff;
  }

  &:not(:hover):not(.contextmenu),
  &.hasBlock {
    > .delete_btn,
    > .scissor_btn,
    > .clip_scissor,
    > .clip_horizontal,
    > .clip_vertical {
      display: none;
    }
  }

  & > &:not(:last-child) {
    outline: none;
  }

  :global {
    .ant-btn,
    .ant-btn::before {
      transition: none;
    }
  }
}
