.block {
  position: absolute;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  &.editable {
    outline: 1px dashed var(--quad-primary-color);
    cursor: context-menu;
  }

  > .scissor_btn {
    position: absolute;
    top: 24px;
    right: 60px;
    // font-size: 12px;

    &:hover {
      color: var(--quad-primary-color);
    }
  }

  > .delete_btn {
    position: absolute;
    top: 24px;
    right: 32px;
    // font-size: 12px;

    &:hover {
      color: var(--quad-danger-color);
    }
  }

  > .more_btn {
    position: absolute;
    top: 24px;
    right: 4px;
    // font-size: 12px;

    &:hover {
      color: var(--quad-primary-color);
    }
  }

  > .boundary {
    position: absolute;

    &.top {
      bottom: -8px;
      width: 100%;
      height: 16px;
      cursor: ns-resize;
    }
    &.left {
      right: -8px;
      display: flex;
      width: 16px;
      height: 100%;
      cursor: ew-resize;
    }

    &.bottom,
    &.right {
      display: none;
    }
  }

  .clip_scissor {
    position: absolute;
    margin-top: -16px;
    margin-left: -16px;
  }

  > .clip_horizontal {
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed var(--quad-primary-color);
  }

  > .clip_vertical {
    position: absolute;
    height: 100%;
    border-right: 1px dashed var(--quad-primary-color);
  }

  &:not(:hover):not(.contextmenu),
  &.hasBlock {
    > .delete_btn,
    > .more_btn,
    > .scissor_btn,
    > .clip_scissor,
    > .clip_horizontal,
    > .clip_vertical {
      display: none;
    }
  }

  & > &:not(:last-child) {
    outline: none;
  }

  :global {
    .ant-btn,
    .ant-btn::before {
      transition: none;
    }
  }
}
