.trans_form {
  > .title {
    font-weight: 700;
  }

  > .container {
    display: flex;
    justify-content: space-between;

    > .item {
      margin-bottom: 12px;

      > .label {
        margin-right: 6px;
        margin-left: 6px;
      }
      > .input {
        width: 35px;
      }
    }
  }
  > .origin {
    margin-left: 6px;

    > .label {
      margin-right: 6px;
    }
    > .input {
      margin-right: 26px;
    }
  }
}
