.color_picker {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;

    > .effect {
      // margin-left: 8px;
      width: 16px;
      height: 16px;
      display: inline-block;
    }
    > .input {
      margin: 0 2px;
      width: 64px;
    }
  }
  > .popover {
    position: absolute;
    left: 8px;
    top: 36px;
    z-index: 2;
    > .cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
