.color_picker {
  display: flex;
  align-items: center;
  background-color: #f5f7fa;

  &.color_mode {
    margin-left: 4px;
    padding-left: 0;
  }

  &:not(.color_mode) {
    padding-left: 4px;
    border-radius: 4px 0 0 4px;
  }

  >.effect {
    position: relative;
    width: 16px;
    height: 16px;
  }

  >.input {
    width: 72px;
  }
}