.layout {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 100vh;

  > .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    padding: 4px;
  }

  > .main {
    display: flex;
    margin: 12px 0;
    width: 100%;

    > .left {
      width: 280px;
    }

    > .content {
      margin: 0 12px;
      width: 1440px;
      overflow-y: auto;
    }

    > .right {
      width: calc(100% - 1440px - 24px);
    }
  }

  > .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 32px;
  }
}
