.layout {
  height: 100vh;

  > .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4px;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  > .main {
    position: fixed;
    top: 64px;
    left: 0;
    padding-top: 12px;
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: space-between;
    background-color: #f5f7fa;

    > .left {
      width: 216px;
    }

    > .content {
      width: calc(100% - 560px);
      overflow: auto;
    }

    > .right {
      position: relative;
      width: 320px;

      > .collapse_btn {
        position: absolute;
        top: calc(50% - 12px);
        left: -12px;
        font-size: 12px;
      }
    }
  }

  .exit {
    position: fixed;
    top: 12px;
    right: 12px;
    display: none;
    cursor: pointer;
  }

  &.collapsed {
    > .main {
      > .content {
        width: calc(100% - 240px;);
      }

      > .right {
        width: 0;
        > :last-child {
          display: none;
        }
      }
    }
  }

  &.preview {
    > .header {
      display: none;
    }

    > .main {
      top: 0;
      padding-top: 0;
      height: 100%;

      > .left,
      > .right {
        display: none;
      }

      > .content {
        width: 100%;
      }
    }
    > .exit {
      display: inline-block;
    }
  }

  // > .footer {
  //   width: 100%;
  //   height: 32px;
  //   display: flex;
  //   justify-content: space-between;
  // }
}
