.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 4px;
  > .title {
    font-size: 12px;
  }

  &:hover {
    color: #40a9ff;
    background-color: #f5f7fa;
    cursor: move;
  }
}
