.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 80px;
  border-radius: 4px;

  &:hover {
    background-color: #f5f7fa;
    cursor: move;
  }
}
